.logo-nav-container {
	width: 100%;
	height: 60px;
	justify-content: space-around;
}

.logo-nav-container .content {
	height: 100%;
}

.logo-container {
	width: 300px;
	font-size: 1.6rem;
	column-gap: 10px;
	color: var(--project-color-orange);
}

.logo-container img {
	width: 50px;
	height: 50px;
	object-fit: fill;
	border-radius: 50%;
}

.nav-links-container {
	width: 350px;
	font-size: 1.2rem;
	justify-content: space-around;
}

.nav-links-container a {
	color: var(--project-color-orange);
}

.header-container {
	max-width: 800px;
	flex-direction: column;
	text-align: center;
	height: auto;
	margin: 80px;
	color: var(--project-color-orange);
	font-weight: 600;
}

.header-container h1 {
	color: var(--project-color-yellow);
	font-weight: 100;
	font-size: 50px;
}

.card-section {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	flex-wrap: wrap;
	column-gap: 50px;
}

.card-container {
	flex-direction: column;
	width: 300px;
	height: 350px;
	color: var(--project-color-orange);
	font-weight: 200;
	font-size: 0.98rem;
	line-height: 1;
}

.image-container {
	width: 100%;
	height: 50%;
}

.image-container img {
	width: 100%;
	height: 100%;
}

.card-text-container {
	flex-direction: column;
	align-content: flex-start;
	justify-items: flex-start;
	margin-top: -10px;
}

.card-text-container p {
	font-size: 1.2rem;
	color: var(--project-color-yellow);
	width: 100%;
	font-weight: 600;
}

.card-text-container .card-descriptive-text {
	color: var(--project-color-orange);
	font-weight: 200;
	font-size: 0.98rem;
	line-height: 1;
	margin-top: -10px;
}

.team-section {
	width: 100%;
	height: fit-content;
	flex-direction: column;
	flex-wrap: wrap;
}

.team-header-container {
	flex-direction: column;
	max-width: 560px;
	text-align: center;

	color: var(--project-color-yellow);
}

.team-header-container h3 {
	font-size: 40px;
	font-weight: 200;
	margin-bottom: 10px;
}

.team-pic-cards-container {
	width: 100%;
	height: fit-content;
	margin-top: 50px;
	font-size: 0.8rem;
	column-gap: 50px;
	flex-wrap: wrap;
}

.team-card-contianer {
	width: 130px;
	height: 200px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	color: var(--project-color-orange);
	font-weight: 500;
}

.team-image-container {
	width: 100%;
	height: 60%;
	margin-bottom: 5px;
}

.team-image-container img {
	width: 100%;
	height: 100%;
}

.team-social-container {
	width: 100%;
	height: 20px;
	justify-content: flex-start;
	gap: 10px;
	margin: 10px 0 -20px 0;
	color: var(--project-color-red);
}

.team-social-container .icon-yellow {
	color: var(--project-color-yellow);
}

footer {
	width: 100%;
	height: fit-content;
	flex-direction: column;
	background-color: var(--project-color-yellow);
	align-items: flex-start;
	margin-top: 80px;
}

.footer-social-container {
	width: 100%;
	margin: 20px 0;
	column-gap: 20px;
	font-size: 0.8rem;
	font-weight: 600;
	color: var(--project-color-red);
	width: 100%;
}

.footer-social-container .content {
	column-gap: 8px;
	font-size: 1.08rem;
}

.footer-social-container i {
	font-size: 1.8rem;
}

.footer-social-container .social-instagram {
	color: var(--project-color-brown);
}

.footer-company-info-container {
	width: 100%;
	height: auto;
	justify-content: space-evenly;
	margin: 50px 0;
}

.footer-company-info-container .content {
	width: 200px;
	height: 100px;
	color: var(--project-color-red);
	font-weight: 600;
	justify-content: flex-start;
	text-align: center;
	flex-direction: column;
}

.address-container address,
.email-container .email-font-light,
.phone-container p {
	font-weight: 200;
	margin-top: 10px;
}

hr {
	border: 0.1px solid var(--project-color-red);
	width: 90%;
	margin-bottom: 10px;
}

.copyright-container {
	color: var(--project-color-red);
	font-weight: 200;
	text-align: center;
	margin-bottom: 30px;
}
